
build
build_msvc
build_linux
build_debug
python/modeldeploy/__init__.py
dist
.idea
# Prerequisites
*.d
models
# Compiled Object files
*.slo
*.lo
*.o
*.obj
tests/test_models
test_data
.Testing
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
csharp/.idea
csharp/ModelDeploy/bin
csharp/ModelDeploy/obj
csharp/TestModelDeploy/bin
csharp/TestModelDeploy/obj

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

